<div class="parallax-container">
    <div class="parallax"><img class="parallax-image" src="assets/images/about_me.jpg"></div>
</div>
<div>
    <div class="row container">
        <div class="photo-container">
            <img id="profile-image" src="assets/images/my_photo.jpg" alt="">
        </div>
        <h2 class="text-center">My name is Asia. I am newly minted graduate of Polish-Japanese Academy of Information Technology.
            My major field of study were Multimedia. I have worked as an intern in IGT company, where I was responsible for bug fixing and implementing customized features using project baseline software.
        I would like to further develop my front-end and back-end skills and in the future become a fullstack developer</h2>
    </div>
</div>
