<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
        <mat-icon>person</mat-icon> <span class="nav-caption">About me</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>details</mat-icon><span class="nav-caption">Skills</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>whatshot</mat-icon><span class="nav-caption">Portfolio</span>
    </a>
    <a mat-list-item routerLink="#" (click)="onSidenavClose()">
        <mat-icon>contacts</mat-icon><span class="nav-caption">Contact</span>
    </a>
</mat-nav-list>
