<div class="parallax-container">
    <div class="parallax"><img class="parallax-image" src="assets/images/contact.jpg"></div>
</div>
<p>contact works!</p>
If you want to contact me just send an email :)
<div class ="email-form">
    <mat-form-field class="example-full-width">
        <mat-label>Your Email</mat-label>
        <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
</div>
<div class = "message-form">
    <mat-form-field appearance="outline">
        <mat-label>Your Message</mat-label>
        <input matInput>
    </mat-form-field>
    <button mat-fab color="primary">
        <mat-icon>send</mat-icon>
    </button>
</div>
