<mat-toolbar id="toolbar" color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home"><img src="../../../assets/images/logo-tmp.png" id="logo"></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="about-me">About me</a>
            </li>
            <li>
                <a routerLink="skills">Skills</a>
            </li>
            <li>
                <a routerLink="portfolio">Portfolio</a>
            </li>
            <li>
                <a routerLink="contact">Contact</a>
            </li>
        </ul>
    </div>
</mat-toolbar>
