<mat-toolbar id="toolbar" color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home"><img src="../../../assets/images/logo-tmp.png" id="logo"></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <button mat-button routerLink="about-me">About me</button>
            </li>
            <li>
                <button mat-button routerLink="skills">Skills</button>
            </li>
            <li>
                <button mat-button routerLink="portfolio">Portfolio</button>
            </li>
            <li>
                <button mat-button routerLink="contact">Contact</button>
            </li>
            <li>
                <button mat-mini-fab color="primary" (click)="changeTheme()"><mat-icon>settings_brightness</mat-icon></button>
            </li>

        </ul>
    </div>
</mat-toolbar>
