<div class="parallax-container">
    <div class="parallax"><img class="parallax-image" src="assets/images/skills.jpg"></div>
</div>
<!-- Photo Grid -->
<div class="row">
    <div class="column">
        <img class="circle-image" src="assets/logos/html.png">
        <img class="circle-image" src="assets/logos/css.png">
        <img class="circle-image" src="assets/logos/js.png">
    </div>
    <div class="column">
        <img class="circle-image" src="assets/logos/angular.png">
        <img class="circle-image" src="assets/logos/csharp.png">
        <img class="circle-image" src="assets/logos/sass.png">
        <img class="circle-image" src="assets/logos/java.png">

    </div>
    <div class="column">
        <img class="circle-image" src="assets/logos/typescript.png">
        <img class="circle-image" src="assets/logos/wordpress.png">
        <img class="circle-image" src="assets/logos/sqlite.png">
    </div>
</div>



