
//.photo-container{
//  width: 200px;
//  height: 200px;
//  border-radius: 50%;
//  overflow: hidden;
//  //margin: 50px auto;
//  //box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
//}

.column{
  text-align: center;
}
.circle-image{
    max-width: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 50px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

