<div class="parallax-container">
    <div class="parallax"><img class="parallax-image" src="assets/images/portfolio.jpg"></div>
</div>
<mat-selection-list #projects [multiple]="false">
    <mat-list-option *ngFor="let projectName of listOfProjects" [value]="projectName">
        <span id="project-name-text" (click)="scroll(details)">
           {{projectName}}
        </span>
    </mat-list-option>
</mat-selection-list>


<p #details></p>
<div *ngIf="projects.selectedOptions.selected[0]?.value == 'Sava Law'">
    <div class="photo-container">
        <a href="http://savalaw.pl/"><img class="circle-image" src="assets/images/jota-sama_czarna-150x150.png"></a>
    </div>
    Website created using Wordpress for a law firm in Warsaw. Click the icon to see it
</div>
<div *ngIf="projects.selectedOptions.selected[0]?.value == 'Portfolio Page'">
    <div class="photo-container">
        <a href="https://github.com/VVolska/portfolio-page"><img class="circle-image" src="assets/images/github.png"></a>
    </div>
    Website created with Angular
</div>
<div *ngIf="projects.selectedOptions.selected[0]?.value == 'Snow Fun'">
    <div class="photo-container">
        <a href="https://github.com/VVolska/snow-fun"><img class="circle-image" src="assets/images/github.png"></a>
    </div>
    Project based on design patterns. Built with Gradle, Java, ORMLite ang SQLite.
</div>
<div *ngIf="projects.selectedOptions.selected[0]?.value == 'K means'">
    <div class="photo-container">
        <a href="https://github.com/VVolska/k-means-clustering"><img class="circle-image" src="assets/images/github.png"></a>
    </div>
    Project that implements machine learning algorithm, called K-means clustering. Written in Java.
</div>
<div *ngIf="projects.selectedOptions.selected[0]?.value == 'Arachnophobia'">
    <div class="photo-container">
        <a href="https://github.com/VVolska/arachnophobia"><img class="circle-image" src="assets/images/github.png"></a>
    </div>
    Unity project composed of an interactive 180° film and a Virtual Reality game
</div>
<br>

